[2020-04-07 16:51] keathley opened #4 "Emit telemetry events"
Finch should support telemetry events around requests. It probably makes sense to follow the new `span` conventions.

Here are the metrics that we tend to use when diagnosing production issues:

* queue duration
* new connection duration
* request duration
* response duration
* rate of new connections vs rate of reused connection

I think all of the durations we can get "for free" using spans.

[2020-04-07 16:55] keathley opened #5 "Return response as a struct?"
I was wondering if we should add a response struct. The main benefit behind this struct is that it would allow users of the library to understand what keys are available on the response they get back.

[2020-04-07 16:57] keathley opened #6 "HTTP method api?"
I was wondering if we should support the standard "HTTP method" API in Finch. I'm content to use the single `request` function and specify the method as an atom. But I figured I would see what others thought.

[2020-04-07 17:00] sneako opened #7 "Allow pool configuration urls to be provided as a binary?"
Right now we force the user to mentally parse the url in to the `{scheme, host, port}` (not that it's very difficult), but maybe some users would prefer to configure their pools like:
[code]
instead of the current:
[code]

[2020-04-07 17:04] sneako commented on #5
Yes, I think we should.

[code]

Right?

[2020-04-07 17:24] sneako commented on #6
I'm not sure if we need to add these methods, but I am not strictly opposed to the idea. I imagine many users will wrap their Finch usage in another function, to avoid passing in the :name argument all the time, so if they really want this api they could easily add functions for the methods they need.

[2020-04-07 17:28] sneako opened #8 "Implement alternative pooling strategies"
Currently we randomly select a pool, which works already works quite well, but perhaps `round robin` or `least loaded` algorithms could perform better under different types of workloads.

[2020-04-07 17:47] keathley commented on #7
I think this is reasonable. It makes it a lot easier to configure at runtime when you might not know all of this information before the app boots.

[2020-04-07 18:02] QuinnWilton commented on #7
To clarify, do you want to support both ways of configuring the URL, or are you intending to switch wholesale to passing in a binary?

[2020-04-07 18:13] sneako commented on #7
Good question! I was originally thinking of supporting both, but maybe we should only allow the binary?

[2020-04-07 18:30] sneako opened #9 "Reconnection strategy"
Right now we just retry immediately, over and over, until the pool checkout timeouts.

An exponential backoff probably makes sense here.

See: https://github.com/keathley/finch/blob/2796b85bce60c0f5561da52e04c10c3a3cb12fdc/lib/finch/conn.ex#L20

[2020-04-08 08:29] xinz opened #12 "Package `finch` in hex.pm is already registered"
Hello, here is the link to [finch](https://hex.pm/packages/finch) package of hex.pm, we may need to face this problem one day in the future, WDYT?

[2020-04-08 08:30] sneako commented on #12
Thanks for the heads up @xinz! We have actually already made contact with the owner, and he has agreed to transfer it to us 😄

[2020-04-08 08:33] xinz commented on #12
Great, thanks for your reply.

[2020-04-08 08:34] #12 closed

[2020-04-08 10:29] wojtekmach commented on #6
With this, we'd be able to:

1. `Finch.request(:get, ...)`
2. `Finch.request("GET", ...)`
3. `Finch.get(...)`

all of them have their place but altogether seems perhaps a bit much? Not sure which I'd personally keep but thought I'd bring this up anyway.

An advantage of having a `get` in particular is it would not have request body so one argument less. ([technically it should support request body

[2020-04-08 11:32] sneako opened #14 "Add Credo?"
I don't have too much experience with credo, but I definitely see it's value when collaborating with larger groups.

The credo file included in Norm looks like it could be a good start: https://github.com/keathley/norm/blob/master/.credo.exs

[2020-04-08 14:59] #14 closed

[2020-04-08 19:09] sneako commented on #4
For reference, here is the discussion around telemetry spans https://github.com/beam-telemetry/telemetry/issues/57

[2020-04-08 20:04] #5 closed

[2020-04-08 20:13] keathley commented on #4
I'm going to start working on this tonight.

[2020-04-08 20:14] sneako commented on #7
What do you think @keathley? I'm leaning towards only allowing the binary.

[2020-04-08 20:16] keathley commented on #7
I'm fine with limiting this to only binaries. It makes the logic simpler and seems less error-prone.

[2020-04-09 21:05] QuinnWilton commented on #6
My use case requires sending bodies with `get` requests, so that flexibility would be helpful for me at least. Servers should ignore the body for a `get` request, but in my experience, many applications require data to be passed in it.

Supporting `Finch.request(method, ...)` with arbitrary methods also allows Finch to be used with protocols that define their own HTTP methods, like the `NOTIFY` an

[2020-04-10 02:21] QuinnWilton commented on #7
I'm working on this one right now!

[2020-04-10 03:10] QuinnWilton commented on #7
Actually, I have this implemented, but because it relies on processing and validating the `config` that is passed to `Finch.PoolManager`, it overlaps with @sneako's PR a little bit: https://github.com/keathley/finch/pull/19/files

It might be best if I hold off until that gets merged, and then apply my changes on top.

My diff (minus my tests) is the following:

[code]

But I think the validation

[2020-04-10 06:51] sneako commented on #7
I was thinking that we should do all of the validations in the public interface Finch module, that way we know we are working with valid data everywhere else. We already do parsing of URLs in to {s, h, p} in [Finch.request/5 function](https://github.com/keathley/finch/blob/master/lib/finch.ex#L103) so we should probably extract that functionality in to it's own function so we can continue to use i

[2020-04-10 07:04] QuinnWilton commented on #7
I agree! I think that the work you've done in #19 lays some really great groundwork for this sort of validation logic.

That sounds like a good plan! I wasn't super happy with my URL validation, but if we just want to mirror the parsing we do in `Finch.request/5`, then that simplifies things a ton. Is it alright then to have a `nil` port in the `shp` tuple?

[2020-04-10 07:07] sneako commented on #7
The port should never be nil. `URI.parse/1` should give us the port based on the scheme

[2020-04-10 07:09] QuinnWilton commented on #7
Oh, so it does! That makes things easy then.

[2020-04-11 17:03] #4 closed

[2020-04-11 18:41] #9 closed

[2020-04-11 18:52] QuinnWilton commented on #9
Now that this is closed I'll do #7 either today or tomorrow!

[2020-04-11 23:00] QuinnWilton opened #22 "Exponential backoff test is flaky"
On master (rarely):

[code]

[2020-04-12 18:07] keathley commented on #22
I think we'll probably have to add some padding to that test, or find a way to make it deterministic (controlling the clock for instance)

[2020-04-12 18:19] wojtekmach commented on #22
Alternatively I'd consider just testing the number of reconnections (which should give us confidence we're using backoff correctly) and not _when_ the reconnections happen - we assume that backoff does the right thing. On the flip side that would give us _less_ confidence in the system overall so it's definitely a tradeoff.

[2020-04-12 18:28] mhanberg opened #23 "Finch times out when attempting to connect to a bad address"
Currently when Finch attempts to connect to a server that doesn't exist/is down, it will time out instead of raising/throwing/returning an error stating that it can't connect.

I came across this when attempting to swap out HTTPoison with Finch in the [Wallaby](https://github.com/elixir-wallaby/wallaby) project.
![image](https://user-images.githubusercontent.com/5523984/79076630-a9f68e80-7cc9-11ea

[2020-04-12 18:51] QuinnWilton commented on #22
I haven't looked into the issue in much detail, but is it possible that the issue is just that `backoff:rand_increment/2` explicitly allows for backoffs that are shorter than the previous backoff?

Here's the implementation: https://github.com/ferd/backoff/blob/master/src/backoff.erl#L42

I think we might be able to just check that the new backoff falls within that range.

[2020-04-12 18:57] wojtekmach commented on #22
it doesn't look like it can be shorter than the previous value but can be the same:

[code]

[2020-04-12 19:18] QuinnWilton commented on #22
It can only happen with `:backoff.rand_increment/2`, when the max delay is "close" to the current delay.

Using possible numbers from the test:
[code]

So just adjusting the backoff arguments can likely lead to more stable results, I think.

[2020-04-12 21:50] mhanberg commented on #23
Might want to surface some some Mint.TransportErrors [here](https://github.com/keathley/finch/blob/master/lib/finch/conn.ex#L47).

[2020-04-12 23:45] keathley commented on #23
I think that might make sense. If we get an nxdomain error back there's probably not a lot we can do about that and should probably return that as an error to the client.

[2020-04-13 00:09] mhanberg commented on #23
At least concerning the transport errors, I think `:timeout`, might be the only one worth retrying.

[2020-04-13 00:43] keathley commented on #23
The current issue is that if we can't get a valid connection process from the pool, the pool will spin through all of the connections to try to find one that's valid. In the case where the service we're trying to communicate with is down, the pool will try to find a valid connection until the timeout is reached.

I think we'll have to update how we checkout a connection from the pool. We can eithe

[2020-04-19 19:56] whatyouhide commented on #6
In my experience, I never ever use the HTTP method functions and always go for `request(method, ...)`. In general, I tend to pretty often build mocks for my HTTP client in order to have a defined interface and in order to test different scenarios, and it's much nicer to build a mock for a smaller API surface that is generic enough to cover all usages. Keeping the API surface small means less code

[2020-04-20 10:01] sneako opened #25 "HTTP/2"
So far, we have focused on HTTP/1, but since HTTP/2 allows multiplexing, a different pooling strategy should perform even better. We probably want to just start a group of connections, register them in the Registry, and round-robin, LRU, or randomly choose one instead.

We need to allow users to explicitly choose which protocol (and therefore pooling strategy) to use, unless we can efficiently det

[2020-04-20 10:02] sneako opened #26 "Fix timeouts"
Right now, we pass the same value for receive_timeout, everywhere that will accept it, with no regard for any time that has already elapsed. We need update the receive_timeouts we pass by subtracting the elapsed time of any intermediate steps in order to properly respect the timeout.

[2020-04-20 14:33] #7 closed

[2020-04-20 14:35] sneako commented on #6
Thanks for all of the great input everyone! I think we are going to stick with just the request function for now.

[2020-04-20 14:35] #6 closed

[2020-04-21 12:02] sneako opened #27 "First Use Time & Idle Time Tracking"
This will help in configuring pool size & count.

We can record System.monotonic_time on init and handle_checkin and subtract it from System.monotonic_time on handle_checkout.

Since init doesn't connect, maybe "first_use_time" makes sense as the name for that measurement.

[2020-04-21 16:27] whatyouhide commented on #25
@sneako IIRC there are ways to determine if the server supports HTTP/2. One would be to open a connection and negotiate the protocol, and then close the connection right away once we know that HTTP/2 is supported. Then we can open the right pool.

I would suggest to start with explicit protocol from the user though. I have an HTTP/2 pool built out already https://github.com/elixir-mint/mint_pool/b

[2020-04-21 17:13] keathley commented on #25
I have a branch started for this. Unfortunately I've been slightly...distracted XD. So in the meantime I'm happy to move forward whatever way is most efficient. Happy to have help @whatyouhide :).

I definitely think we should make the choice of the pool type explicit for now. Its probably even worth raising an error if the user wants an http2 pool and mint can't negotiate the http2 connection. Ot

[2020-04-21 17:17] sneako commented on #25
Thanks for chiming in @keathley! I knew you had started working on this, so I didn't want to give the green light without talking to you first.

I agree we should start with allowing the user to be explicit about the protocol they intend to use.

I really like the :gen.statem approach @whatyouhide has started with and [described here](https://andrealeopardi.com/posts/connection-managers-with-gen_s

[2020-04-21 17:22] keathley commented on #25
Yup that seems good to me.

[2020-04-22 10:11] #22 closed

[2020-04-22 10:11] #23 closed

[2020-04-22 13:58] keathley commented on #27
Just so I'm clear, what we're trying to determine is how often a pool or a connection in that pool, is being used. Is my understanding correct?

[2020-04-22 14:04] sneako commented on #27
Yeah, I want to be able to figure out how long a connection is sitting in the pool between check outs

[2020-04-23 09:19] sneako opened #32 "Expose connection options"
We should allow the user to pass in options that will be passed to [Mint.connect/4](https://hexdocs.pm/mint/Mint.HTTP.html#connect/4).

Everything is already wired up internally, we just need to accept the options in the pool config.

[2020-04-25 07:52] #32 closed

[2020-04-25 08:22] sneako opened #36 "Spec & document Finch.request/6"

[2020-04-25 08:22] #27 closed

[2020-04-25 13:17] sneako opened #40 "Support arbitrary string methods"
Right now, we currently have guard clauses that are perhaps a bit too restrictive and therefore do not allow the user to use arbitrary HTTP methods.

Are there any good reasons to keep this limitation, or should it be removed?

[2020-04-25 13:27] whatyouhide commented on #40
The HTTP spec only specifies a _semantic meaning_ for the well-known methods (GET, POST, and so on), but it doesn't restrict the *supported* methods to those. WebDAV for example uses custom methods. I don't think there's any reason to restrict those. :)

[2020-04-25 13:59] sneako commented on #40
Thanks for the insight @whatyouhide I agree! Working on this now so I can update #39 accordingly.

[2020-04-25 17:32] #40 closed

[2020-04-25 17:46] #36 closed

[2020-05-01 21:52] supersimple opened #46 "accept %URI{} as well as binary for url()"
https://hexdocs.pm/finch/Finch.html#t:url/0 defines a url as a binary(). I am accustomed to passing around %URI{} structs instead.

Is there a reason you wouldn't also accept (or perhaps only expect) a %URI{} struct?

BTW - love the library, just thought I'd ask.

[2020-05-01 22:56] wojtekmach commented on #46
I think allowing %URI{} makes sense. We call URI.parse/1 under the hood anyway so if we happen to have the uri struct already, we'd avoid overhead of parsing it inside request.

[2020-05-02 04:00] sneako commented on #46
Sounds good to me! I like the idea of being able to skip the url parsing

[2020-05-02 05:34] supersimple commented on #46
I opened up https://github.com/keathley/finch/pull/47

[2020-05-02 14:49] #46 closed

[2020-05-03 18:35] whatyouhide commented on #25
I finally had some time to start working on this. I have a few questions on the direction I should take:

1. HTTP/2 connections are meant to be open for as long as needed. Should we close them after a timeout of inactivity? It's very easy to do with `:gen_statem` timeouts.

1. Should we reconnect a connection if it goes down? This is a larger question: should we open connections on demand when the

[2020-05-03 19:27] sneako commented on #25
For HTTP/1, the first implementation eagerly opened connections as soon as each pool worker was started, and would reconnect connections as they were closed. This worked quite well when the server supported keepalive, but in cases where the server did not, we would see connections constantly being opened and closed before we could even use them, and sometimes we wouldn't even be able to finish sta

[2020-05-03 19:49] whatyouhide commented on #25
@sneako idle timeout and reconnections are a bit against each other. If we implement an idle timeout, it means that we'll have to open the connection as soon as the next request hits it (on demand). This design works better with a lazy pool where we connect on demand for all cases and keep the connection alive for a while. Otherwise, we go all the way on always-on connections, that connect eagerly

[2020-05-03 19:52] sneako commented on #25
Ah yeah good point, I guess we don't need idle timeouts if we have the always-on connections. I wanted to use always-on connections for everything, but only backed out on HTTP/1 after hitting the failure mode I described, so as long as we don't anticipate something similar happening in HTTP/2, I vote for always-on

[2020-05-04 14:12] keathley commented on #25
@whatyouhide Thanks for working on this. I had started an http2 branch to make it easier to support both http1 and http2 pools. But I hadn't finished porting over the logic from mint_pool to finch. If you want I can submit a PR for the work to decouple the http1 pool. Which should make it easier to add an http2 pool in. Lemme know if that's helpful.

As far as your actual questions, I think we sho

[2020-05-05 16:26] keathley commented on #25
#49 is open now. Lemme know what y'all think.

[2020-05-09 17:01] keathley opened #54 "Error struct"
We should have an exception that we can use to capture different errors. I'm not sure if we should wrap over the `Mint` errors or not. But it seems like we might want to for consistency.

[2020-05-09 20:03] QuinnWilton commented on #54
Reraising `Mint.HTTPError` into a `Finch.Error` is probably prudent. I think that the way `Mint` documents all of the possible error types makes for a very easy to use API, and I think `Finch` could benefit from taking the same approach: https://github.com/elixir-mint/mint/blob/master/lib/mint/http_error.ex#L56

Do you think that it's worth differentiating between server errors and client errors?

[2020-05-10 09:41] whatyouhide commented on #54
We don't do the client/server distinction in Mint, so I'm afraid it would be a bit annoying to do here 😄

[2020-05-16 20:18] NidalShater opened #56 "Handling timeout and error with Finch"
In HTTPPoison
[code]
how can we deal with timeout or how to handle error in Finch?

I tried the following to handle Error
[code]
but I get the following error :

`Finch.Error.__struct__/0 is undefined, cannot expand struct Finch.Error. Make sure the struct name is correct. If the struct name exists and is correct but it still cannot be found, you likely have cyclic module usage in your code`

and

[2020-05-17 14:53] sneako commented on #56
Thanks for trying out Finch!

As you have discovered, Finch is not meant to be a drop in replacement for HTTPoison. At this time Finch is returning errors directly from Mint, however we have begun planning to wrap errors in our own Finch.Error struct in #54. Mint is still pre 1.0, so everything is potentially subject to change :)

Your example should work if you just remove the reference to `Finch

[2020-05-17 14:53] #56 closed

[2020-05-18 15:09] chulkilee opened #57 "Allow custom pool assignment other than {scheme, host, port}"
If pool is only determined by `{scheme, host, port}`, then SSL option will not be considered, which results in mixing up connection with different SSL option. (e.g. using SSL client side certificate for authentication)

### Related

- https://elixirforum.com/t/strange-httpc-hackeny-behavior-on-ssl-verify/22695/3
- https://github.com/benoitc/hackney/issues/570

[2020-05-18 15:42] josevalim commented on #57
Can you please explain how this is possible? Finch connection parameters cannot be given dynamically, you need to specify them when you specify the schema+host+port, so I don't see how you would end-up with a mixed state.

[2020-05-19 08:57] chulkilee commented on #57
Oh, I see - connection option can only be given to `Finch.HTTP1.Pool.start_link/1`, not per request.

I thought that can be given to `opts` on `Finch.request/4`, but it's not.

Thanks!

[2020-05-19 08:57] #57 closed

[2020-05-23 09:00] thojanssens opened #58 "Streaming response continuously?"
Imagine connecting to a forex/crypto trader that streams the response continuously with real-time price changes.

I can achieve that with Mint easily through their API (see sample code below); we can easily stream and read from the response forever. But it seems that it is not possible with Flinch?

I stumbled upon the same demand for Tesla:
https://github.com/teamon/tesla/issues/271
but open sinc

[2020-05-23 15:03] keathley commented on #58
We've talked about adding streaming api support to both http/1.1 and http/2 pools. It just hasn't been a priority yet. We're not against the idea though. Is the goal to open a connection to a url and continually stream responses to the calling process? Or do you need something more advanced than that?

[2020-05-24 14:51] #25 closed

[2020-05-25 13:17] lessless commented on #58
In my case it would be exactly the first scenario - continuously receiving an unbound stream of updates.
From about 5-6 different endpoints on a same host.

[2020-05-31 16:23] thojanssens commented on #58
What do you have in mind Chris when you mention something more advanced? Just curious about your ideas.

I want to add something, and I'll keep the example of brokers for Forex exchanges or crypto. Some send market price updates by continuously streaming HTTP responses on a connection, as described in this issue; but other brokers choose to send those price updates through WebSocket protocol. Woul

[2020-06-01 14:52] keathley commented on #58
@thojanssens If you need bi-directional communication that is guaranteed to be on the same connection, you can't do that with http/1.1. It's only possible on http/2. Along with that limitation, our current pooling/load balancing strategy doesn't give you control over which connection your request uses. For instance, if you start 4 http/2 connections and you begin streaming a response on one connec

[2020-06-09 15:51] keathley commented on #58
Streaming support has been merged with #59. If y'all would like to try it out that would be great. I'm going to close this issue for now. If there are specific issues that come up please let us know.

[2020-06-09 15:51] #58 closed

[2020-06-09 16:09] keathley commented on #54
I've started a branch for this. I just need to ensure that we're capturing all of the mint errors correctly

[2020-06-17 13:43] josevalim commented on #54
One option here is to say that we return `Exception.t`. Then we can return Mint.Error for low-level stuff and Finch.Error for high level stuff. It may be more straight-forward than handling all of the wrapping.

[2020-06-17 13:45] josevalim commented on #26
We may want to have two timeouts: one for each individual read/receive from the socket and one for the whole connect+request+response. Or even three: connect, individual read/receive, and whole request+response.

[2020-06-17 22:31] sneako commented on #26
We also have the pool timeout as well, so there could be a total of 4 timeouts :) It seems like a lot but I suppose most users would just keep the defaults and only configure the ones they actually care about.

[2020-06-18 08:56] whatyouhide commented on #26
I think having sane defaults makes up for it. I would love to be able to have this much control. :)

[2020-06-18 18:37] keathley commented on #54
Yeah, that's probably the right way to go. I was worried that having that inconsistency would make it harder for people to pattern match on.

[2020-06-18 19:07] NeilMenne opened #62 "Mint.TransportError: :closed"
I am using `Finch` in a service that relies on a remote service for data, but I am doing a fair amount of caching and other work at my service to avoid having to make this remote call too often for performance reasons.

As a result, we are periodically seeing this socket close error. A [related issue on Mint](https://github.com/elixir-mint/mint/issues/255) points to different defaults being necess

[2020-06-23 21:33] josevalim commented on #62
Definitely. On checkout, if the connection is closed, we need to automatically reconnect without pushing errors upstream. My understanding is that transferring between process will fail if the connection is closed. Is this correct @whatyouhide?

[2020-06-23 21:46] josevalim commented on #62
Actually, it seems we already reconnect if the socket is closed. Can you provide an example that reproduces the issue? I am thinking it is one of the issues where it only says closed when we write to it.

[2020-06-23 22:18] sneako commented on #62
I am actually seeing this error in my application too, but only around 50 per second, when I am currently making > 100,000 requests/s, so it hasn't been a very high priority for me, but I definitely agree that we should be able to prevent it. I'll take another stab at making a reproducible example this evening.

[2020-06-23 22:22] josevalim commented on #62
Do you know if it is happening when we send the request? That would be my bet. If we can identify the source, then it should be a (hopefully) easy fix.

[2020-06-23 22:29] sneako commented on #62
I assume that is where it is happening as well. I can try whipping up a temporary fork on Finch, wrapping the errors, to nail down exactly where this comes from.

[2020-06-23 23:15] keathley commented on #62
I think it’s possible that the connection is being closed after it’s checked back into the pool. Then the next time we try to use it the connection returns an error. That’s my hypothesis

[2020-06-23 23:25] sneako commented on #62
Looks like this error is always happening when we are waiting for the response actually, here: https://github.com/keathley/finch/pull/65/files#diff-c3126e24dc4c2613caa9bec21852ec5aR109

[2020-06-23 23:37] sneako commented on #62
I would expect Finch to try to checkout a new worker from NimblePool if an error occurred during the handle_checkout callback

[2020-06-24 07:35] josevalim commented on #62
@sneako it is happening in the response before it sends the headers and stuff? If so... then yeah, Finch is correct in return `:closed`.

[2020-06-24 16:50] sneako commented on #62
I can do another test later today to check if we have received any part of the response yet when this happens.

[2020-06-24 18:26] sneako commented on #62
I deployed this branch: https://github.com/keathley/finch/compare/track-closed-error and can confirm that in my case, the closed error is returned before any part of the response has been received at all (always getting "req_recv_empty"), so it seems that Finch is behaving correctly.

[2020-06-24 18:56] NeilMenne commented on #62
I will try to carve out some time to deploy that branch with some additional tracing/logging information.

In the short term, we had to switch to `HTTPoison` since this appears to be unique to `Finch` in our deployed environment.

[2020-06-25 16:04] NeilMenne commented on #62
We have confirmed that this is the error we're seeing as well with the linked branch. While it may seem that it's behaving correctly, under identical workloads HTTPoison does not exhibit this behavior and Finch has a much more forgiving default timeout for receive (`15_000` I believe) that we are _not_ approaching.

Is it possible that there are some timing issues around the connection management?

[2020-06-25 16:57] josevalim commented on #62
@NeilMenne are your errors happening before sending the request or before receiving the response or after sending the response?

[2020-06-25 21:54] NeilMenne commented on #62
I am working on putting it back in place with more thorough telemetry hooks to tell the difference. When I have a sample, I will have an answer!

[2020-06-25 22:13] NeilMenne commented on #62
Here lies the order of events as telemetry dumped them, so it looks like it's while waiting for the response but well within the response window as the whole thing happens in about 3 ms. I did try to find relevant logs on the other service as well to correlate, but it appears to have never gotten there.

All of this on a re-used connection too...

[code]

[2020-06-25 22:27] josevalim commented on #62
Beautiful. Did it send any response at all? Like headers and statuses?

[2020-06-25 22:40] NeilMenne commented on #62
There was nothing that I could find. if you have any additional information that I can track, I'm maintaining a branch for this now.

[2020-06-25 22:50] sneako commented on #62
Thanks for looking in to this with us @NeilMenne ! I have put together this branch here: https://github.com/keathley/finch/compare/track-closed-error

Using this branch, Finch will return a 3 element tuple on error, where the second element will be an atom or binary, telling us if any part of the response at all was returned before the :closed error.

[2020-06-25 22:52] NeilMenne commented on #62
It's the the req_recv_empty error

[2020-06-25 22:53] sneako commented on #62
Ah right ok, so that means that none of the response was received at all, just like what I saw in my application. 🤔

[2020-06-25 22:54] NeilMenne commented on #62
indeed. only happens to reused connections so far

[2020-06-25 22:59] sneako commented on #62
So I guess that means that both setting the mode on the connection and transferring the owner of the connection can succeed even in the socket has been closed...

[2020-06-25 23:01] NeilMenne commented on #62
Yeah, that sounds feasible.

[2020-06-25 23:25] josevalim commented on #62
It may be that the connection was closed for write on the other side, which is why it happens. We could automatically retry but we may end-up sending the request twice in some cases. We would need to investigate to make sure what is the best way forward.

[2020-06-26 00:30] NeilMenne commented on #62
Yeah, I don't think you can reasonably do that; however, if we had some insight into the TCP protocol for this, we could tell more information. Things like keep-alive (which is ostensibly being stripped before I can log it or is not being requested by default) would be contributing factors.

At the TCP protocol level, we _should_ get a FIN packet or similar graceful disconnect (depending on the va

[2020-06-26 00:53] josevalim commented on #62
Oh, connection: close! Can you please try this branch? https://github.com/keathley/finch/pull/66

[2020-06-26 01:27] NeilMenne commented on #62
yeah, i'll get it deployed tomorrow and i'll post results if @sneako doesn't get there first

[2020-06-26 01:58] sneako commented on #62
Ah that is interesting. We do have a test case for 'connection: close' here: https://github.com/keathley/finch/blob/master/test/finch_test.exs#L202 We should probably increase the iterations there as well, because it only does 10 iterations, with a pool size of 10, so we don't see what happens when we try to reuse a closed connection, but even increasing it 100, always passes locally.

I wonder if

[2020-06-26 02:40] sneako commented on #62
It does seem that Mint is closing the connection itself when it encounters this header: https://github.com/elixir-mint/mint/blob/9b12d2f3cd53b45864460203f953c202ae6c6a54/lib/mint/http1.ex#L812

I am still trying out the branch though and will post results shortly

[2020-06-26 02:47] sneako commented on #62
Yeah, unfortunately, #66 does not make a difference ☹️

[2020-07-07 00:25] sneako opened #70 "HTTP/2 does not emit :queue Telemetry event"
Would this event start before the [:gen_statem.call/2](https://github.com/keathley/finch/blob/master/lib/finch/http2/pool.ex#L41) and end when we get a response?

Also, this raises the question of whether we should add support for the `:pool_timeout` option, which would then be passed to `:gen_statem.call/3`. We would probably want to use a [`:dirty` timeout])https://erlang.org/doc/man/gen_statem.

[2020-08-12 10:40] padma0 commented on #62
Hi, has there been any progress? I found this error in my application too…

[2020-08-12 10:58] ericmj commented on #62
This error is somewhat expected in any network application since networks are unreliable. So just to clarify this is only an issue stemming from Mint/Finch if there is a high enough error rate that is not related to inherit network unreliability.

[2020-08-13 14:34] keathley commented on #62
@padma0 Part of the "problem" is that Mint + Finch doesn't do anything to mask this error from you, by issuing retries on your behalf or anything like that. I don't believe that it would be a good choice for us to attempt to hide these issues from the user since an http request may not be idempotent and may not be safe to retry. I'm not sure if this is consistent with other http clients in the eli

[2020-08-14 02:08] mijia commented on #62
Hi, sorry to bother you guys again, I'm in the same team with padma0.

Just want to add some information on this problem. We were using Finch to make http requests from A service to B service and they are both written in Elixir/Phoenix. We are not going through a lot of web hits everyday, but always found the connections were closed while sending requests to B service. Yesterday we found Service B

[2020-08-14 16:49] keathley commented on #62
@mijia No worries :).

Just for clarity, was this with http/1.1 or http/2? It's possible that we're still not receiving the connection closed signal while the connection is checked into the pool and we're failing to re-open it. I've been trying to find a minimal case to reproduce this, but so far I haven't been able to. I have a new idea that I can try out though.

[2020-08-14 19:47] keathley commented on #62
Any other input you could give me about your network stack would also be super helpful.

[2020-08-15 01:56] mijia commented on #62
@keathley Thanks a lot. We use the http/1.1 pool for finch. We cannot reproduce this problem with our local setup either. But in our Kubernetes env both development and production env, we can find this problem. Service A and B are in the same K8S namespace, and exposed as the k8s service, so they can be connected or routed via the k8s DNS service and connect each other directly.

[2020-08-31 04:43] ashutoshrishi opened #80 "Telemetry event [:finch, :response, :stop] doesn't include the response status"
It would be nice to have the response HTTP status code in the `[:finch, :response, :stop]` event.

[2020-08-31 13:02] keathley commented on #80
I've got some updates coming to Finch that will add in this missing information. I'm just going to put the entire response struct into the event's metadata. No reason to try to cherry-pick fields out of it.

[2020-09-03 07:13] kspe opened #81 "Telemetry - custom fields in metadata"
Hey, I wonder if there is a way currently to add custom metadata fields (e.g client_id) to telemetry events emitted by Finch? My use case requires exporting metrics to Prometheus and it would be quite easy to label them with custom tags if those would be available in an event's metadata.

[2020-09-04 07:09] ashutoshrishi commented on #81
If you are logging from the same process you generate the `client_id` you can use [Logger.metadata/1](https://hexdocs.pm/logger/Logger.html#module-metadata) for these things. We do that a lot:

    # Somewhere where you get the client_id
    Logger.metadata(client_id: "something")

And then you could do something like:

    # When sending/logging the metric
    client_id = Logger.medata()[:client_

[2020-09-04 07:14] ashutoshrishi opened #82 "Non-string values in headers cause a Mint exception"
I noticed this when trying to use Finch as an `:ex_aws` client adapter where the `{"content-length", 0}` headers (and like) cause a crash.

The exact same issue with Mojito: https://github.com/appcues/mojito/issues/46

The issue was opened in Mint too: https://github.com/elixir-mint/mint/issues/235

Mint decided to leave it to the wrapping implementations has they clearly expect a string. Mojito d

[2020-09-04 07:37] kspe commented on #81
Thanks for the hint, not sure though if we are referring same part of the lib, I was thinking about adding custom data into this one, for example, https://github.com/keathley/finch/blob/dd7a07d806945015a34b7b1218703c17891768dc/lib/finch/http1/pool.ex#L26-L31 so I can split my telemetry events by custom ids.

[2020-09-04 12:27] keathley commented on #81
Allowing custom metadata is definitely something we want to support. I have a branch with a solution that is most of the way there. I've just been buried under work-related stuff lately.

[2020-09-06 14:45] keathley opened #83 "Converting master to main"
@sneako Just a heads up that I'm going to migrate the "master" branch to "main". Shouldn't cause any issues but wanted you to be aware :+1:.

[2020-09-06 14:46] #83 closed

[2020-09-15 10:56] visciang commented on #82
@ashutoshrishi I've had the same issue.
Check my PR here https://github.com/ex-aws/ex_aws/pull/710, merged but bot jet published a new version of the library

[2020-09-16 14:23] keathley commented on #82
I guess I'm a little confused...isn't the issue here in ex_aws? We're just passing headers on to mint, so it seems like trying to intervene on the user's behalf is the wrong approach. But maybe I'm wrong?

[2020-09-16 14:30] visciang commented on #82
Yes, you're right, the bug is in ex_aws. My PR ex_aws side fix the issue.

[2020-09-16 14:32] keathley commented on #82
Ok, cool. Thanks for that :). I'm going to close this since I don't think there's much to do here and I don't think we want to spend additional CPU cycles checking every header for every request. If you feel like I've missed something, feel free to re-open.

[2020-09-16 14:32] #82 closed

[2020-09-18 14:43] keathley commented on #62
For anyone who finds this issue in the future, I was able to resolve this in our stacks by ensuring that cowboy's idle connection timeout was greater than the proxies that sit in front of cowboy. Since I was able to track all of those down, I haven't seen this error manifest.

[2020-09-19 06:05] ashutoshrishi commented on #62
@keathley we have had the cowboy error recently too and did the same configurations. But please correct be if I am wrong, that's a fix on the server end of a HTTP request you make to your servers right?

We are seeing intermittent errors of `(Mint.TransportError) socket closed` for requests made to an external service like AWS S3 (via ExAws) and Lambda (via ExAws) for which we have no serverside c

[2020-09-22 14:09] keathley commented on #62
I've also seen this when calling other services through fastly and other caching or proxy layers. Everything points to this being a legitimate socket closed error. Unfortunately, I can't work out _why_ it happens so it's hard to give a definitive answer on how to mitigate it. I believe that the only real remediation we have right now is to issue retries. If you discover the specific reasons why th

[2020-09-23 01:20] ashutoshrishi commented on #62
I had to go back to `HTTPoison` in Production as there were too many errors even with little throughput. But I never see them while running on my local machine. I have a big suspicion is the AWS networking, especially AWS NAT gateway's `idle_timeout` and connection management.

I will setup up a debug environment in our production network so that I can log better and take tcpdumps over the weekend

[2020-09-23 03:24] keathley commented on #62
Sounds good @ashutoshrishi. Thanks for continuing to look into it. It seems like it'll be either an issue in Mint or a configuration thing. I'd really like to figure out what hackney is doing under the hood to resolve this. It definitely feels like something to do with idle connections being closed and not being correctly re-opened. For that reason, I'm betting that part of the reason you're seein

[2020-09-24 04:35] myi2000 opened #85 "proxy"
Hello,
Need help, can't get the proxy working.  Tried setting conn_opts, that is supposed to pass to Mint.HTTP.connect/4.
conn_opts: [proxy: [:http, proxyurl, proxyport, []]]

[2020-09-24 14:13] keathley commented on #85
You need to pass a tuple like so: `conn_opts: [proxy: {:http, proxyurl, proxyport, []}]`.

[2020-09-24 14:13] #85 closed

[2020-09-26 05:45] myi2000 commented on #85
@Keathley, thanks for quick response.  I tried but it doesnt use the proxy, example below, appreciate your input.  Thanks.

defmodule T1 do
  alias Finch.Response

  def proxy do
    proxyurl = "24.185.57.132"
    proxyport = "3126"
    url = "https://www.webpagetest.org/"
    Finch.start_link(
      name: MyFinch,
      pools: %{ :default => [size: 5], url => [size: 5] },
      conn_opts: [proxy:

[2020-09-26 09:08] sneako commented on #85
@myi2000 have you tried providing the proxyport value as an integer?

[2020-09-26 13:49] myi2000 commented on #85
@sneako, thanks.  Yes, I tried with,
proxyport = 3126

that dint work either.
It seems that conn_opts is being ignored.

[2020-09-26 13:59] sneako commented on #85
Ah sorry, I just took a quick glance before, the conn_opts should be passed inside the pool config, like:
[code]

[2020-09-28 02:46] acco commented on #62
Hey @ashutoshrishi - any updates here?

I think you're on to something with your NAT gateway theory. I am able to reliably reproduce on my EC2 ECS servers, and my setup is pretty vanilla - save for a NAT gateway for outgoing requests.

See comment: https://github.com/appcues/mojito/issues/70#issuecomment-699735160

As you'll see in that comment, I can't reproduce in curl - haven't tried any other

[2020-09-28 04:21] myi2000 commented on #85
@sneako, it works, thanks for quick help.

note: if pools defines url, then each should have its own conn_opts section.

[2020-09-28 17:34] keathley commented on #62
I've found an issue in how mint handles connections after streaming. Its possible that this is related to the issues we've been seeing. I can definitely hypothesize ways that this would result in issues on our end, although I'm not convinced that this is the root issue.

[2020-09-28 17:52] keathley commented on #62
I also may have found an issue in how the http1 pool is handling errors after a receive. I'm going to do some experimentation to confirm.

[2020-09-28 19:17] keathley commented on #62
re-opening this until the issues in Mint are fixed.

[2020-09-28 19:30] keathley commented on #62
To follow up on this, my hypothesis was that if a server finishes a response and closes a connection, Mint could return an error (since it detects that the connection is closed it returns an error). In that scenario, we would have access to the responses in the error tuple that mint returns from `recv`. We would need to see if the response was complete and return it if so. But, I haven't been able

[2020-09-29 09:03] ericmj opened #88 "Check window sizes in HTTP/2"
If you do not check the window sizes you can get errors if the client is sending faster than the server can receive:

[code]

Use the function `Mint.HTTP2.get_window_size/2` https://hexdocs.pm/mint/Mint.HTTP2.html#get_window_size/2 to get the window sizes for the connection and request.

[2020-09-29 09:05] ericmj commented on #88
I see that you are using `Mint.HTTP2.request/5` to send the full request body. We recently added a note that we do not recommend doing that: https://hexdocs.pm/mint/Mint.HTTP2.html#request/5-request-body-size and that you should instead use `Mint.HTTP2.stream_request_body/3` to send the body.

[2020-09-29 13:28] keathley commented on #88
Thanks @ericmj. I'll take a look at both of these issues.

[2020-10-01 19:35] acco commented on #62
Closing the loop on my end, https://github.com/elixir-mint/mint/pull/280 seems to have done the trick for me. Thanks all! 🙏

[2020-10-02 14:27] keathley commented on #62
Alright, going to re-close this now that the fix has landed in Mint.

[2020-10-02 14:27] #62 closed

[2020-10-07 15:13] adriankumpf opened #90 "Proxying a HTTP/1 connection"
I tried to configure proxying but could not get it to work. While I was digging into the code, I noticed that both pool implementations use the `connect/4` function specific to the HTTP protocol version. According to the docs [Mint.HTTP1.connect/4](https://hexdocs.pm/mint/Mint.HTTP1.html#connect/4) "[…] doesn't support proxying" though. The `:proxy` configuration seems to be supported by [`Mint.HT

[2020-10-07 16:16] keathley commented on #90
This might be a bug in how finch uses `connect`. I wasn't aware that you couldn't use proxy through the direct `HTTP1.connect` call. I can take a look at this.

[2020-10-07 18:16] keathley commented on #90
@adriankumpf Can you try this PR and see if that fixes your issue: https://github.com/keathley/finch/pull/91? Also, if you happen to have a failing test case for this, that would be rad :).

[2020-10-08 11:50] adriankumpf commented on #90
Thank you for the quick fix! So far it looks very good. I have not noticed any problems. Unfortunately I have no failing test for this, everything was tested manually.

[2020-10-10 17:44] #90 closed

[2020-11-21 20:51] svileng opened #104 "Compilation error in file lib/finch/http2/pool.ex"
I just added `finch` to my project and I get this compilation error:

[code]

FWIW I don't use `mint` or any packages that `finch` depends on.

Any ideas how to resolve this?

Versions:

[code]

[2020-11-21 21:07] svileng commented on #104
Seems to be some kind of a weird environment issue after upgrading my local version of Elixir.

This fixes it:

[code]

[2020-11-21 21:07] #104 closed

[2020-11-27 17:16] hubertlepicki opened #106 "Add HTTP1 integration tests"
I'd like to add some of these. Is there a reason there are none other than no one implemented yet?

[2020-11-28 13:44] #106 closed

[2020-12-14 14:26] danicuki opened #108 "How to use ExVCR with Finch?"
My project uses [Finch](https://github.com/keathley/finch) to make parallel HTTP requests.

I tried to add VCR to my tests, but the HTTP requests are still happening.

Here is my test:
[code]

I see a `list_apps.json` file in the `fixture/vcr_cassettes`, but its content is only `[]`

Here is my MyClient module:

[code]

How to apply VCR to this example?

[2020-12-14 14:40] sneako commented on #108
I have never used this library but it's readme lists the http clients that it currently supports and Finch is not included.

Taking a quick look at the code, each supported client has its own implementation within the ExVCR library, so you would have to add a Finch implementation to the library of you wanted to use them together.

https://www.github.com/parroty/exvcr/tree/master/lib%2Fexvcr%2Fadap

[2020-12-14 14:41] wojtekmach commented on #108
ExVCR works by intercepting requests from a given HTTP client but you need to tell it which one, that's the `:adapter` option to `use ExVCR.Mock`. So in order to use it with Finch, someone would need to write such adapter.

You've already created https://github.com/parroty/exvcr/issues/166 which I think is the right place to ask that question, I'd close this issue then.

I'd just add that in the a

[2020-12-14 14:51] #108 closed

[2020-12-20 18:43] ijunaid8989 opened #110 "Basic Auth is not working && Insecure option"
I am trying to make a GET request to a y-cam, with basic authentication. Which is working perfectly alright in postman but not working in Finch.

The total stack trace is below with Basic auth credentials,
[code]

where this works fine in postman

![image](https://user-images.githubusercontent.com/13561999/102721423-8ab20580-431c-11eb-849c-76f0b47fdb2a.png)

the response supposes to be an Image an

[2020-12-21 04:10] ijunaid8989 commented on #110
On MINT level, I have these responses,

when the Basic Auth works with normal message it returns

[code]

but for the above case, it gives such data

[code]

it says content type image jpeg but I am not sure where the data is, but return type is jpeg

[2020-12-21 13:33] ijunaid8989 commented on #110
closing this to add a new one.

[2020-12-21 13:33] #110 closed

[2020-12-21 13:42] ijunaid8989 opened #111 "http/1.0 is not being handled correctly."
I am doing this in mint.

[code]

as a result of first, we get this

[code]
and on 2nd we get this.
[code]

when I do this.

[code]
I get this
[code]
on-again doing this
[code]

I get this as response

[code]

but when I do the same request in Finch

[code]

I just get this.

[code]

[2020-12-21 14:28] ericmj commented on #111
Turns out this is a Mint issue, I will open a PR to Mint with a fix.

[2020-12-23 14:08] tsloughter commented on #81
@keathley I don't think supporting custom metadata in finch is a good way to go. This feature should be common across all libraries if their metrics/tracing/logging handling is in the same process.

A common way of attaching attributes to a context is what is needed. I've wanted the context part of OpenTelemetry to be split out to its own library and be how this is done, but only if it gets a larg

[2020-12-23 14:19] tsloughter commented on #81
Forgot to note that the usefulness of an actual context library (instead of a key we all agree on to use in the pdict) is support for propagation of these attributes across nodes and hopefully easily across processes one day.

[2020-12-23 15:41] keathley commented on #81
@tsloughter I'm definitely in favor of making this consistent. Each library shouldn't have to implement this on its own. I'm not sure if I have an opinion on the specific mechanism. My first impression is that the context is the way to go. We already do this internally at B/R so we can propagate tracing headers, deadlines, and other metadata about any given call.

[2021-01-14 16:47] LostKobrakai opened #112 "Abort streamed request"
Say I'm using Finch to proxy some request to an upstream http server I might want to stop the stream if the caller closed the connection:

[code]

[2021-02-03 22:24] imricardoramos opened #115 "OS opening more connections than specified in pools config?"
Hello,
I'm testing this library using the following configuration:
[code]
And then doing a bunch of requests with:
[code]

However the connections in `iftop` show 20 connections open:
[code]
What am I missing? Shouldn't it open 3 connections at a time only?

[2021-02-05 10:17] whatyouhide commented on #111
I released Mint v1.2.1 with the fix in https://github.com/elixir-mint/mint/pull/290 :)

[2021-02-05 14:51] keathley commented on #115
Yes, the number of open connections should be based on the pool size. Finch will use the default settings to open that many connections for each unique host. So, in your example, `https://www.sample-videos.com` would have its own connections separate from `https://host.sample-videos.com`. But, based on your config it should only be opening 3 connections per host. I feel like we saw an issue with t

[2021-02-05 14:53] wojtekmach commented on #115
@imricardoramos just in case please paste your finch and nimble_pool versions from your mix.lock.

[2021-02-05 15:03] imricardoramos commented on #115
Here's a snip of my mix.lock:
[code]

[2021-02-13 01:47] minhajuddin opened #117 "Finch defaults to :http1 for dynamic requests"
The following code uses `http1` to make a request even though the hex.pm server supports `http2`.

[code]
This happens because the default type here evaluates to `:http1` https://github.com/keathley/finch/blob/main/lib/finch/pool_manager.ex#L61 Ideally, the type of pool should be decided by whether the server supports http2.

![image](https://user-images.githubusercontent.com/43916/107838257-06f02

[2021-02-13 15:16] keathley commented on #117
The pool choice here matters quite a bit since http/1.1 and http/2 pool solutions aren't compatible with each other. Which pool you want to use should be a conscious choice since you'll need to adjust your pool requirements based on the version. There's not a clean way to determine what pool to use after we've already made the initial request because you need to start a pool before you can make th

[2021-02-16 02:49] minhajuddin commented on #117
I am planning to build an agent for our services that does the job of sending HTTP requests to all external APIs and it probably won't know beforehand all the endpoints it will be talking to. Is there a way to update the configuration on the fly? I could probably do it whenever I see a new endpoint by probing the endpoint.

[2021-02-16 23:48] nallwhy opened #120 "When HTTP2 connection turns to read_only, it's not recovered"
When my HTTP2 connection turns to read_only, it keeps return read_only error until I restart my app.

`{:error, %{reason: :read_only}}`

Setting:
[code]

[2021-02-17 08:11] #111 closed

[2021-02-17 08:12] #115 closed

[2021-02-17 09:24] sneako commented on #120
Thanks for the report @nallwhy. I can confirm this is an issue and we will have to find some time to look into it

[2021-02-17 15:16] keathley commented on #120
I can take a look into this. We need to get some pbt around that since there are a bunch of ways to end up in a bad states like this.

[2021-02-21 04:20] nallwhy commented on #120
I guess that closing connection from host makes state of connection to read_only, and reconnection doesn't work.
I use finch to call google API.

[2021-02-25 05:48] #117 closed

[2021-02-25 23:06] SophisticaSean opened #124 "Pool Size default (for HTTP/1.1) is too low"
I've been comparing different adapters for use in Tesla and I believe the default pool size setting for Finch is too low to be comparable to other adapter defaults.

Request per second:
- Finch default pool size of 10: `RPS: 198.13284094832753`
- Hackney default: `RPS: 932.1966376616629`
- HTTPC default: `RPS: 3225.471319940388`
- Finch pool size of 50: `RPS: 956.4245735627867`

These were all tes

[2021-02-27 01:17] SophisticaSean opened #125 "Return helpful error on pool NimblePool.checkout timeouts"
Right now the error returned from a checkout timeout in finch is very minimal and doesn't help a user solve the issue.

Capture and return a more helpful error to help the user know what options to tweak to resolve the issue.

[2021-03-01 15:37] keathley commented on #124
Hey @SophisticaSean. Did you get these values with http/1.1 or http/2 pools? My assumption is that its http/1.1 but I wanted to make sure. I could see us increasing the size of the http/1.1 pool defaults since the connections are opened lazily and can only be used by a single connection at a time. I would be really surprised if we needed to open 50 http/2 connections to achieve similar results. My

[2021-03-02 08:53] SophisticaSean commented on #124
My apologies, these were all done on http/1.1 pools vs an http 1.1 server written in Go. I have not experimented with RPS on http/2 pools yet and my current primary use case of Finch is for http 1.1 communication.

[2021-03-30 21:07] schabou opened #129 "Feature Request - Decompress compressed responses"
I wasn't able to find any reference to it in the code or docs so apologies if this is mentioned somewhere or already implemented.

I've run into an issue where an API is returning compressed responses (gzip in this instance) and it caused my client to fail.  I was able to repair this with a stop gap measure on my end but it would be ideal if the Finch library was able to handle decompression seaml

[2021-04-06 05:47] lukas-at-harren opened #130 "Invalid response"
I have this request: `curl http://www.kakadu.de/podcast-kakadu.2730.de.podcast.xml`.
The server returns a well formed HTTP response, however, Finch does not return an UTF-8 body, instead, it returns a binary.

[code]

I would have expected something along those lines (taken from curl):

[code]

[2021-04-06 05:50] lukas-at-harren commented on #130
Closing this issue, as I was on an older version, and with `0.6.2` it got fixed.

[2021-04-06 06:30] lukas-at-harren commented on #130
Nope, I was wrong. The issue persists. I am now on `0.6.3`.

[2021-04-06 07:17] wojtekmach commented on #130
Your response has headers and body indicating gzip content (magic numbers `0x1f, 0x8b`) and Finch does not automatically decompress the response (https://github.com/keathley/finch/issues/129).

Curiously when I tried making the same request it was not compressed, maybe there was a CDN or proxy in front of your request? (I tried: `Finch.start_link(name: MyFinch); Finch.build(:get, "http://www.kakad

[2021-04-06 13:13] sneako commented on #130
@wojtekmach is correct, as usual! In one project where I include "accept-encoding: gzip" in my request headers, and therefore expect that the response may be gzipped, I call the following function on the response body and it has been working well for me (note the magic bytes that Wojtek mentioned):
[code]

I am not sure if Finch should do this automatically, but regardless that discussion will tak

[2021-04-06 13:13] #130 closed

[2021-04-06 13:31] wojtekmach commented on #129
FWIW neither httpc nor hackney (https://github.com/benoitc/hackney/issues/155) automatically decompressed the response body.

Shameless plug: I'm building an http client where automatic decompression based on the `content-encoding` header is one of the features: http://wojtekmach.pl/docs/req/Req.html. It's still a work-in-progress so I definitely do not recommend using it for anything serious. I'v

[2021-04-06 13:37] keathley commented on #129
@schabou Thanks for opening this. I think atm. my suggestion would be to check out Req as @wojtekmach mentioned. We're going to try to keep finch pretty small so it can be re-used for a lot of other use cases. I appreciate that this puts more onus on the users of finch to build these things in their own code. We can talk about revisiting features like this in the future if Req or a similar solutio

[2021-04-06 13:37] #129 closed

[2021-04-06 15:52] SophisticaSean commented on #125
bump

[2021-04-06 15:52] SophisticaSean commented on #124
bump

[2021-04-09 09:11] lukas-at-harren commented on #130
Hi @whatyouhide, @sneako thanks for having a look into it.
I actually just learned that content encoding is not handled by this library.
What I did is to take the advise from https://bernheisel.com/blog/httpoison-and-decompression to implement by own decompression on these responses.

I honestly think this should be implemented behaviour in the HTTP client (configurable of course), as it is with o

[2021-04-10 22:42] thbar commented on #112
This can also be useful when e.g. you'd want to halt the processing based on headers or status. For instance, if one wants to use streaming to compute a checksum of the data, but only compute it if the status is 200, and ignore otherwise (or follow a redirect header etc).

[2021-04-11 13:24] ericmj commented on #112
You cannot abort HTTP/1 requests, the only thing you can do is close the connection. If you want to make a choice based on the headers you should use `Expect: 100-continue`.

With HTTP/2 you can abort requests, Mint exposes that through `Mint.HTTP2.cancel_request/2`.

[2021-04-11 14:14] thbar commented on #112
Thanks! To simulate the abortion, is there a recommended way to close an HTTP/1 connection inside a `Finch.stream` stream function?

[2021-04-11 15:05] keathley commented on #130
If we were going to support decompression we would need to support the other content-encodings beyond just gzip. That opens us up to a lot of potential maintenance costs because we'll need to evaluate whether there is a library to support each of these use schemes or if we'll need to re-implement it ourselves, etc. Supporting decompression also implies that we would need to support compression as

[2021-04-17 09:24] tomtaylor opened #131 "Including helpers for multipart requests"
Hi there - I'm need to build and make streaming multipart requests, and noticed that Finch doesn't have support for this out of the box. Is this something I could contribute, or is this considered beyond the scope of the library and a separate dependency would be more appropriate?

Thanks!

[2021-04-17 10:08] ijunaid8989 commented on #131
you can use the module from Tesla https://github.com/teamon/tesla/blob/master/lib/tesla/multipart.ex

and can do something like this

[code]

[2021-04-18 13:18] lukebakken opened #132 "Support SSLKEYLOGFILE environment variable."
In order to decrypt TLS sessions in tools like Wireshark, the per-session secrets can be logged to a file. This document specifies the file format - https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/Key_Log_Format

Recent versions of Erlang/OTP (`ssl` version `10.2` or greater) have support for getting the `keylog` data for a TLS connection. If a user wishes to log these secrets to a f

[2021-04-19 16:11] tomtaylor commented on #131
Thanks @ijunaid8989. I actually ended up using that as inspiration, but building a new library to support this functionality. Hopefully it's useful for someone else in the future:

https://github.com/breakroom/multipart

I'll go ahead and close this now.

[2021-04-19 16:11] #131 closed

[2021-04-23 01:01] #124 closed

[2021-05-08 08:39] thbar opened #137 "Need to URI.encode the url - is it expected?"
First thanks for the great work on Finch, which we use as an easy streamer to compute checksums on remote resources (https://github.com/etalab/transport-site/blob/master/apps/shared/lib/http_stream_v2.ex), and more use will likely come. So, thanks!

While doing integration work, we noticed that doing a query against an url with `|` in it will fail:

[code]

(as I discovered by digging into the cod

[2021-05-10 15:44] sneako commented on #137
Hi @thbar and thanks for the kind words!

Are you sure that HTTPoison is actually handling anything here? I assume it is rather the opposite, HTTPoison does not perform the validations that Mint is performing, but I have not taken a closer look to confirm this so I could be wrong.

I found many resources about what characters need to be encoded when I searched, but here is one of the more succinct

[2021-05-10 16:21] #132 closed

[2021-05-10 18:12] #137 closed

[2021-05-17 21:20] dallagi opened #139 "Support unix sockets"
Hello,

Mint natively supports making requests on unix sockets by setting the address to `{:local, "/path/to/socket.sock"}` and the port number to `0`, for example:
[code]
For more context, tests for this functionality in Mint can be found [here](https://github.com/elixir-mint/mint/blob/main/test/mint/unix_socket_test.exs).

However, to my knowledge Finch does not currently allow this.
In case thi

[2021-05-18 11:36] sneako commented on #139
Hi and thanks for the issue! I agree that Finch should support this. I have not looked in to this very much yet, but rather than using a scheme like `http+unix`, I think we should use the `{:local, socket_path}` tuple that Mint uses, which is the type from inet https://erlang.org/doc/man/inet.html#type-local_address.

[2021-05-18 12:00] dallagi commented on #139
Hi @sneako , thanks for your quick reply!

Personally I don't have a strong opinion about which approach to use, but I'm afraid that using the `local_address()` type from inet would not fit well with the current API exposed by Finch, which (if I understand correctly) currently expects a `URI` or a string that can be parsed to a `URI`.

Anyway, once the preferred approach is defined I would be happ

[2021-05-20 13:04] ono opened #140 "Memory pressure caused by connections removed from a pool"
When a checkout fails because it exceeds `max_idle_time` Finch removes the connection from the pool. However it doesn't look to be closing the connection.

https://github.com/keathley/finch/blob/main/lib/finch/http1/pool.ex#L88-L98

The socket would be kept open until it's closed by the server. This can cause a big memory pressure under the high load.

I am happy to open a PR that fixes the issue

[2021-05-20 13:55] sneako commented on #140
Hi @ono ! Did you actually observe this behaviour happening or was this based on an assumption from reading the code? When we return `{:remove, :closed, pool_state}`, that tells NimblePool to remove the worker, which then will call the [terminate_worker/3](https://github.com/keathley/finch/blob/main/lib/finch/http1/pool.ex#L133) callback, which does try to close the connection.

[2021-05-20 14:47] ono commented on #140
Oh, I see. I didn't notice how these are wired. Tested and confirmed that terminate_worker/3 was called and the socket was closed properly. The memory increase I am seeing must be caused by somewhere else. Thank you very much for your advise!

[2021-05-20 14:47] #140 closed

[2021-05-25 18:14] sneako commented on #139
Hi @dallagi, sorry for the delay in getting back to you. I have been thinking about this a bit in the meantime, and have come to the conclusion that my initial proposal of using the local_address type would probably not be sufficient. I have not personally used TLS over a unix socket, however based on my limited research it does seem to be entirely possible. There is no way to specify that you wou

[2021-05-26 20:01] dallagi commented on #139
Hi @sneako,
No worries at all for the delay, I appreciate the effort you’re putting in maintaining finch :)

Thanks for the heads up about the potential issues!
I agree that having to url encode the path of the socket is not very convenient.

However, personally I can’t think of a better alternative.
Passing a custom tuple (similarly as the PR you linked) would work, but I’m afraid it would also f

[2021-05-26 20:12] wojtekmach commented on #139
out of curiosity, what would be an actual example call to `Finch.build/4` that you propose? Please use as real values as possible and if we need to URI encode things, please do that as well. I think showing concrete examples will help move the discussion forward.

[2021-05-26 20:47] dallagi commented on #139
Hi @wojtekmach you are absolutely right, I’ll try to come up with some practical examples.

Let’s say we want to hit the [_ping api](https://docs.docker.com/engine/api/v1.41/#operation/SystemPing) exposed by a local docker daemon listening on `/var/run/docker.sock`.

Using an approach similar to hackney’s it would look like this:

[code]

Otherwise, another option could be to go with a tuple, whic

[2021-05-28 07:58] dallagi commented on #139
I thinked a bit more about this.

If I had to pick one to these two approaches myself I’d probably go with the former, ie. hackney’s approach.
This would allow Finch to keep the API of `build/4` consistent (as the `url` would keep being either a `URI` or a URI-like `String`) at the cost of a little more complexity for users due to urlencoding, which IMHO could be an acceptable compromise given tha

[2021-05-28 10:59] dannote opened #141 "Support custom Mint transports"
Hi!

Mint natively (and silently) [supports](https://github.com/elixir-mint/mint/blob/dc655a2ebdf4c7a8556da4a0fb082b9549b54f2a/lib/mint/core/util.ex#L106) custom transports by accepting a module implementing `Mint.Core.Transport` behaviour:

[code]

Although it's an undocumented (yet) feature, it works seamlessly. It would be great if Finch pools also accepted a tuple in the form of `{module, host

[2021-06-14 22:23] lukebakken opened #142 "Not all errors returned by request/3 are Mint.Types.error()"
This may be related to #54

We've noticed that some errors, like `:disconnected`, aren't "real" error types and can cause a `FunctionClauseError` when `Exception.message` is called on them.

See this branch for a demonstration:

https://github.com/lukebakken/finch/blob/some-errors-are-not-exceptions/test/finch/http2/pool_test.exs#L113-L155

See this issue for where we originally thought we should

[2021-06-17 06:45] sneako commented on #142
Hi @lukebakken and thanks for pointing this out. It looks like these errors are only happening with HTTP/2, right? I agree that we should update the type spec, or wrap the errors. I think it would be confusing to wrap these errors in Mint error structs, but I think we should stick with this pattern of returning error structs, so maybe it is time to introduce a %Finch.Error{}.

[2021-06-17 13:07] lukebakken commented on #142
Hi @sneako. I only use HTTP/2 with this library so I can't speak to the HTTP case.

I'd be happy to work on adding `%Finch.Error{}`.

[2021-06-20 06:24] ijunaid8989 commented on #54
is it possible that in this place
[code]

we can also define the return behaviour of success response, such

there is an opportunity to name finch to be your own representation.

`MyConfiguredFinch`, is it possible to make response your own representation as well and when a request is made.

`%Finch.Response{}` becomes `%MyConfiguredFinch{}`

[2021-06-20 07:39] sneako commented on #54
I think this would be better handled within a module in your application. For example, you could define something like this:
[code]

[2021-06-21 22:34] lukebakken opened #144 "Making request while in `:disconnected` state."
Hi everyone -

While diagnosing [this error](https://github.com/teamon/tesla/issues/469) we found that this sequence of events would lead to a `:disconnected` error:

* Start an application using a large HTTP2 pool (we used a count of `64`).
* Start making requests using that pool, but don't make enough requests to use all connections.
* After a period of time, the server sends `GOAWAY` due to ina

[2021-06-22 13:45] keathley commented on #144
I'm not sure that we can safely retry the request for the user here. Well...we could. But we'd add a *lot* of complexity to do it. We'd need to have a heuristic that the user can tune for the number of retries that they can attempt, the back-off ratios, etc. So, if we're talking about retries, I'd like to leave that in the hands of the user.

I wonder if it would be better to solve this by not usi

[2021-06-22 13:47] #142 closed

[2021-06-22 13:48] keathley commented on #54
Closing this for now.

[2021-06-22 13:48] #54 closed

[2021-06-22 13:59] keathley commented on #141
@dannote Agreed, I think we should be able to solve both of these cases with the same solution.

[2021-06-22 16:56] lukebakken commented on #142
@keathley will the changes in #143 be shipping in version `0.8.0`?

[2021-06-22 17:05] keathley commented on #142
@lukebakken Yup

[2021-06-22 17:06] lukebakken commented on #142
Thanks! I'll keep my eyes out.

[2021-06-23 15:15] keathley commented on #142
@lukebakken Published

[2021-06-30 17:32] sneako commented on #141
Custom transports are not officially supported by Mint so I am not sure that we should try to add this feature that depends on a private API, see: https://github.com/elixir-mint/mint/pull/323

[2021-06-30 19:58] keathley commented on #141
Oh good call @sneako. I hadn't realized that was private. Agreed that we shouldn't support a feature that is based on Mint's private API.

[2021-08-10 08:36] wojtekmach commented on #139
In curl, setting the unix socket is just another option instead of messing with the url:

[code]

(setting the url to `http:///v1.41/_ping` or even just `http://v1.41/_ping` also works, more on this below.)

I think this is relevant here. Here's an idea how we could support this in Finch:

[code]

Note, in our pool map we use the path to the socket, not the host. I believe the host is mostly or to

[2021-08-10 09:15] sneako commented on #139
I like @wojtekmach's proposal of using a new `:unix_socket` option rather than some kind of hybrid scheme. We could add a `:unix_socket` field to the `Request` struct and from there it should be quite straightforward.

[2021-09-09 17:59] NeilMenne opened #150 "HTTP monitor leak"
While charting memory utilization in a service at B/R, I noticed that Finch was prominently in the top spot in the `:observer_cli`, so I confirmed my hypothesis that the memory was increasing overall.

Looking at, `:recon.info(pid) |> get_in([:signals, :monitored_by]) |> length()` we see that the monitors are increasing seemingly per-request. Since my requests are being made my `GenServer`s mainta

[2021-09-10 13:54] keathley commented on #150
This should now be resolved with 0.8.2. Re-open if you continue to see issues.

[2021-09-10 13:54] #150 closed

[2021-09-30 15:54] rhp-ts commented on #120
BTW, when the HTTP2 connections gets into the `{:error, %{reason: :read_only}}` state, is it possible to restart the `:finch` application via the console (iex or remsh)?

[2021-10-09 01:27] cgerling commented on #139
I have a similar use case that requires communicating with a UNIX socket.
I would like to do a PR to add support to this, is @wojtekmach's solution the chosen approach?

[2021-10-16 07:58] #139 closed

[2021-10-16 08:24] #141 closed

[2021-10-26 04:09] iwinux opened #157 "`Mint.UnsafeProxy` connection not handled in `Finch.Conn.request/6`"
Hi, I'd like to report an issue of using Finch with HTTP proxy.

## Problem

Requests to plain HTTP (i.e.: non-HTTPS) URLs via proxy are handled in `Mint.UnsafeProxy`, but currently `Finch.Conn.request/6` is not aware of such case, resulting in `FunctionClauseError`.

## Reproduce

[code]

## Possible Solutions

* Handle `UnsafeProxy` connections in `Finch.HTTP1.Pool.request/5`

* Dynamic Pool Con

[2021-10-30 11:51] oliveigah opened #159 "Automatically terminate pools if unused"
Hey, I'm currently looking for tackle this problem that is even explicit on the readme: `Note pools are not automatically terminated if they are unused, so Finch is best suited when you are requesting a known list of static hosts.`

In my first look on the issue I think the right place to start is on nimble pool library it self, right? Since AFAIK it does not support this use case (https://github.

[2021-10-31 11:41] sneako commented on #159
Hi @oliveigah! I haven't thought too much about this issue yet as all of the applications where I use Finch only send out requests to a static list of hosts, but I could see how this feature would be useful, especially in Finch wrappers like Req and Tesla.

I think it could make sense to add this as an optional feature to NimblePool. If there were some option that we could pass to NimblePool which

[2021-10-31 12:20] oliveigah commented on #159
HI @sneako , thanks for the insight!

My use case here is a postbacker, so the client can send me a custom URL and some configuration and my application will send the postback after some time.  Since I have no control of the client's URL would be good to have this feature.

If you see another way I could fit finch in this use case, I would love to hear!

Gonna share with you what I was worried abo

[2021-11-03 21:14] GregMefford commented on #81
I believe that #160 might be related here - @learc83 and I came up with that solution as a reasonably-generic way to plug in the context, but didn't know if you all would be open to doing that as opposed to having some other way to specifically make additional headers available to the request at the time when it needs them.

[2021-11-05 08:28] sneako commented on #159
Ah yes, you would definitely need this feature if you were to use Finch in this way, in a long running application.

I should also mention that while Mint supports protocol negotiation, Finch cannot. This is due to the fact that we use different pooling strategies for HTTP/1.1 vs HTTP/2. We need to send a request to do ALPN, but we need a pool to send a request, so it is kind of a chicken and egg

[2021-11-05 11:19] oliveigah commented on #159
Thanks for the great insight @sneako ! :smile:

I was thinking about start pools dynamically accordingly with some previous configuration from the client and the default behaviour being HTTP/1. Do you have any considerations regarding starting Finch pools dynamically?

Great! I'm working on it right now, and when it's done I'll open a PR on Finch to leverage the new feature.

[2021-11-05 11:24] sneako commented on #159
My pleasure!

If you can rely on the fact that these servers will always support HTTP/1 then the default pool configuration should work fine.

You could consider decreasing the pool size (the default is 50), but since Finch uses "lazy" NimblePools, connections will only be opened as needed and the pool size acts more like an upper limit to how many connections could be opened in a specific pool, s

[2021-11-05 12:37] sneako commented on #159
Also, I would like to add, it is very important for Finch that NimblePool stays as fast as possible. Ideally the changes that happen there will have zero impact on the performance of the pool. I suppose it could also be acceptable if there is a small performance hit, but only in the case that the pools are configured to shut down after an idle period, allowing the user to opt out and retain the cu

[2021-11-05 12:54] oliveigah commented on #159
That`s exactly how I'm doing it. If the pool does not pass the idle_timeout configuration to NimblePool, it should not have any impact on performance.

For now the only impact I'm foreseeing is the periodic timer that will check the resources queue.

For highly active pools the impact might be just a peek on the queue and an if checking last enqueued time for the resource, every tick on the timer.

[2021-11-05 13:04] sneako commented on #159
Great, that sounds good to me!

[2021-11-16 02:56] marcandre opened #162 "Test failures with Elixir 1.13.0-rc.0"
Running the test suite from the repo (tag v0.9.1) gives me no failure with elixir 1.12 but with elixir 1.13.0-rc.0 I get 10 failures.

<details>
  1) test request/3 successful post streaming request, with streaming body and query string (FinchTest)
     test/finch_test.exs:219
     match (=) failed
     The following variables were pinned:
       response_body = "{\"right\":\"here\"}"
     code:

[2021-11-16 03:00] marcandre commented on #162
FYI, tests for `exvcr` also fail only in Elixir 1.13, and only for the `finch` adapter, which led me to run `finch`'s test suite.

[2021-11-17 07:56] sneako commented on #162
Thank you for reporting! I can confirm that there are many failures, mostly in the tests that use Bypass, when running `1.13.0-rc.0-otp-24`.

Luckily, `1.13.0-rc.1-otp-24` seems to fix the problem!

[2021-11-17 07:56] #162 closed

[2021-11-17 17:32] marcandre commented on #162
Those are the best bug fixes ever 🎉
Thanks for looking into it.

[2021-12-05 19:40] ericsullivan opened #163 "IPv6 Documentation"
I was recently setting up an application on Fly.io
I wanted to use the internal 6PN DNS to communicate with a backend service. [REF](https://fly.io/blog/ipv6-wireguard-peering/#6pn-dns)
It did not work with the default settings in Finch / Mint (but HTTPoison worked, so I assumed it was a library configuration issue). It took a bit of digging, but I found this option:
https://github.com/elixir-mint

[2021-12-06 18:03] the-mikedavis opened #164 "HTTP/2: check max-concurrent-streams setting"
When under very high load with many concurrent requests, some requests may fail with

[code]

From the [`Mint.HTTP2.request/5` docs](https://hexdocs.pm/mint/Mint.HTTP2.html#request/5):

It looks like this check is very cheap on the Mint side: it needs to check against a field in the `conn`. See https://github.com/elixir-mint/mint/blob/367230ff0565df69125f93204fcb496774bf69a9/lib/mint/http2.ex#L106

[2021-12-06 18:19] the-mikedavis commented on #164
Found this stress-testing in this PR: https://github.com/sneako/finch/pull/158#issuecomment-986310868

[2021-12-07 12:22] oliveigah commented on #159
Hey @sneako, the PR implementing idle termination on nimble_pool just got merged (https://github.com/dashbitco/nimble_pool/pull/22), therefore I'm looking for start the Finch side modification (probably just forward 2 new pool configuration options).

Regarding your concern about impacts on performance, do you have any load tests I could execute in order to guarantee there is no performance issue?

[2021-12-09 14:36] sneako commented on #159
Great work @oliveigah ! I do have some tests that I can run, but if the Finch changes will just involve forwarding these pool configuration options it might make more sense to benchmark NimblePool itself. Do you agree?

[2021-12-09 21:48] oliveigah commented on #159
Yeah, it makes sense to test NimblePool it self, I'm just thinking about how some finch implementations of the pool might interact with the new termination feature.

If you do not use the the new `:worker_idle_timeout` nothing changes.

But if you use it the `terminate_worker/3` callback will be executed for all idle workers each cycle. Therefore the feature is dependent on how your worker is term

[2021-12-10 08:09] sneako commented on #159
Looking more closely at your NimblePool changes and I think you did a great job in taking the performance impact in to consideration.

The only difference a user who has not opted in to idle timeouts will see is a few more calls to `System.monotonic_time/1` which is quite fast. I wonder if it is worth skipping that function call unless we have a `:worker_idle_timeout`? I guess that is something a

[2021-12-10 22:35] oliveigah commented on #159
Great catch on the `System.monotonic_time/1` I did forget to take it on account.

I've tried to do a quick benchmark to see the impact of this extra call on check-ins, although my measures were quite variant, they were most between 1% ~ 4% of impact on performance.

To put it on numbers, I did 50 checkouts/checkins in a row to a pool with a single worker.

The modified version added 2~4 millisecon

[2021-12-11 03:33] oliveigah commented on #159
Great catch on the System.monotonic_time/1 I did forget to take it on account.

I did a quick benchmark to see the impact of the new feature on checkouts/checkins (the most sensible part to this change IMO), although my measures were quite variant, they were most between 5% ~ 10% of impact on performance. This impact might be composed by the call it self, the data transfer overhead and the extra c

[2021-12-11 12:02] oliveigah commented on #159
Just to add info, I've executed the same benchmark comparing A x A and B x B, just to see the normal fluctuation between iterations and the results are:

[code]

By this result we can see the normal fluctuation is 2~3%.

Also if you want to see how I did this benchmark to suggest some improvements or verify the results here is the gist: https://gist.github.com/oliveigah/1f619232a4e0212094d40edab77

[2021-12-12 08:32] #88 closed

[2021-12-17 23:46] oliveigah commented on #159
Sorry for the delay, got dragged by some work stuff.

Gonna benchmark your suggested change on the next days.

[2021-12-20 22:23] oliveigah commented on #159
Hey @sneako, just did the modification to only call `System.monotonic_time/1` if `:worker_idle_timeout` is defined. The benchmark improved a bit but the code seems more complicated to me because it must consider one more parameter in order to initialize and enqueue workers.

IMO, the clarity tradeoff is not worth it. To achieve a clearer solution I gonna need to do some refactor on the implementat

[2021-12-21 08:36] sneako commented on #159
Thanks @oliveigah. I can try running my more thorough benchmarks when I have a bit of free time to see how these pool changes affect Finch's overall performance. Hopefully making the pool just a tiny bit slower will not be noticeable. I am slightly concerned because at work we are really pushing Finch HTTP/1 pools to their limits, and we do see a consistent (albeit very low) rate of pool timeouts

[2021-12-21 13:00] oliveigah commented on #159
Got it! Let me know what you find on your benchmark.

Gonna try to work on a better implementation on the nimble pool side asap, so you do not need to run your benchmarks twice.

[2021-12-22 11:14] sneako commented on #159
No rush!

For best results, the benchmark should be run across multiple machines. Usually I use a pair of decently sized ec2 instances, a client and a server, which requires a paid AWS account.

I ran these tests very frequently when we started working on Finch which was over a year ago at this point, so there is quite a bit to update before we can use them again. It is a fork of a fork that I hav

[2021-12-28 09:33] visciang opened #168 "Finch.Request.t() typespec"
While looking at the hexdoc to get the type of some request fields, I've seen that the `Finch.Request.t()` struct is not "typespec-ed", or better it's defined as:

https://github.com/sneako/finch/blob/a5a5e3c740e4d14729d64e559f3a1a2047d1ec1d/lib/finch/request.ex#L52

This results to:
https://hexdocs.pm/finch/Finch.Request.html#t:t/0

The `@type` could be defined as:

[code]

Is that intentional?
I

[2021-12-28 10:23] sneako commented on #168
Thanks @visciang ! I am not opposed to adding typespecs for all of the fields in the `%Request{}` struct. A PR is welcome!

[2022-01-03 08:15] #168 closed

[2022-01-04 17:51] epinault opened #170 "Issue when duplicate content-type headers exists"
I am using Tesla and it has a middleware that adds the content-type for json. But adding if I add to the headers manually the content-type again, it can appears twice. Seems that Finch does not handle it and I see some side effect . I am not sure if this is an expected behavior but I would have not expected it to fail at all

here is an example of a success request

[code]

here is one that will f

[2022-01-04 18:38] sneako commented on #170
Hi @epinault !

According to the [HTTP spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2) "Multiple message-header fields with the same field-name MAY be present in a message...".

Finch's main goal is performance, so validating/merging the headers before sending the request is not something that I would be interested in adding to this library. In fact, I have even considered sta

[2022-01-04 23:28] epinault commented on #170
yea that makes sense! thanks for looking at this so quickly ❤️ . Did you file an issue for absinthe: otherwise happy to file one for them . I did not think to try without absinthe and was not expecting it . Awesome find!

we are fixing our wrapper to not add the extra header (we are using Tesla so had to try different layer to see it happen)

[2022-01-05 02:09] epinault commented on #170
Based on the answer from the Absinthe project, it seems that actually it s not correct and should be handled by the client really. Reading the spec seems to also imply that having multiple is for a specific reason (if they are different) and multiple values

[2022-01-05 08:57] sneako commented on #170
The wording is a bit confusing as I too had the same interpretation as Ben when I first read it. I think this stackoverflow post explains it pretty well https://stackoverflow.com/questions/4371328/are-duplicate-http-response-headers-acceptable

Either way, as as user of Finch it is going to be your responsibility to build the request that you want to send. Even curl has the same behaviour:

[code]

[2022-01-06 08:33] #170 closed

[2022-01-11 10:44] sneako commented on #163
Sorry for the delay! I agree with Eric on this one. Having this issue definitely helps, thanks for creating it!

[2022-01-11 10:44] #163 closed

[2022-02-09 22:37] oliveigah commented on #159
Just pinging about the tests regarding the usage of the new feature of nimble pool.

Can I help you with something @sneako?

If you provide some high level instructions about how would you do these tests I could run it my self on some cloud instances too, no worries! Just let me know! 😄

[2022-02-10 11:33] oliveigah commented on #159
Don't worry! I indeed left you here waiting for the new implementation of the feature on nimble pool. Totally forgot I would do that, my bad. 😅

Gonna work on something that does not call `System.monotonic_time/1` unnecessarily and run your tests for both implementations to see the difference.

[2022-02-11 00:22] oliveigah commented on #159
@sneako, after read the code again I've found a much clearer way to make the change you proposed. (Take some time off really helps. haha :sweat_smile: )

I just opened the PR, but now I think the change will be completely transparent for users that do not want to use the new feature. Let me know what you think!

[2022-02-11 08:28] sneako commented on #159
That looks perfect! With this change in place, I don't think there is any need to fiddle with these load tests.

[2022-02-14 22:36] oliveigah commented on #159
With the release of the nimble pool v0.2.5 which includes the optimized version of the feature, I'm looking forward to work on the implementation on the finch side.

On my first look at the code I guess the approach will be:

- Add "pool_max_idle_time" to pool config schema
- Forward "pool_max_idle_time" to `Finch.HTTP1.Pool` initialization on `Finch.PoolManager.do_start_pools/2`
- Implement handl

[2022-02-16 08:28] sneako commented on #159
The approach you described sounds good to me!

I don't think we need to allow for custom implementations of `handle_ping/2`. Was there a specific use case you had in mind?

The NimblePool tests are great, but I still think we should try to add at least one test for pool termination on our end too.

[2022-02-17 01:25] oliveigah commented on #159
I was thinking about if the user wants to run some custom code like notification or some other cleanup unrelated to connections when the pool gets terminated but after some thought I think there is better ways to achieve it outside finch it self with monitors and links.

Gonna go with the default behaviour and if some use case to a custom implementation arises we can modify it later.

Great, gonna

[2022-02-17 08:49] sneako commented on #159
For a notification of pool termination, that sounds like a job for telemetry to me. Let’s make sure we add an event for that. Great call!

[2022-02-18 13:56] oliveigah commented on #159
Found a bug on nimble_pool while implementing the feature here! :disappointed:

https://github.com/dashbitco/nimble_pool/pull/26

Gonna finish the implementation after it being resolved.

[2022-03-24 20:53] alexandremcosta commented on #159
Should this be closed?

[2022-03-28 08:45] #80 closed

[2022-03-28 09:07] sneako commented on #159
Yes, thanks @alexandremcosta !

[2022-03-28 09:07] #159 closed

[2022-03-28 12:27] derekkraan commented on #62
Hoping the following code snippet can help the next person who stumbles upon this issue while googling:

[code]

[2022-04-04 11:50] dvic opened #175 "new unified telemetry event"
I'm working on an OpenTelemetry library but I'm encountering some difficulties in the implementation while trying to capture various kinds of errors (e.g., `nxdomain` in the connect step). The underlying issue here is that there is no guaranteed 'start' and 'end' event when a request is executed in Finch. It requires a lot of error prone checks and edge-case handling to get it right.

Would it mak

[2022-04-04 11:51] dvic commented on #175
related discussion: https://github.com/wojtekmach/req/issues/87

[2022-04-07 00:05] chargreezy commented on #112
To expand on this, when streaming in finch we pass a reducing function for status, headers and data. This underlying mint connection is not available inside these calls, would adding the mint connection to the call make the functionality possible.

Before:
[code]
After:
[code]

[2022-04-07 10:01] dvic commented on #175
Agreed.

👍

Yeah I was thinking the same. I think your suggestion to use  `:stream` instead makes sense actually, it relates directly to the function that's emitting it :).

I'll submit a PR to get things going and then we can take it from there.

[2022-04-07 14:05] sneako commented on #175
Thanks for your input @keathley ! You do make a good point, `stream` could be confusing. Maybe I was too concerned with minimizing breaking changes.

If we go with `:request` then we need to pick a new name for the existing `request` event. Maybe we should replace the `request` with `send` and replace `response` with `recv` like the Linux socket api?

[2022-04-07 14:29] dvic commented on #175
I think this is a good idea, but given https://github.com/sneako/finch/pull/176#discussion_r845203482, do we still want a separate `:stream` event? We would have a `:request` event with `:result` and a `:stream` event with `:acc`, to semantically indicate the difference between the two?

[2022-04-08 21:25] ericmj commented on #112
If you throw inside the streaming function the connection will be closed (for HTTP/1.1) and the request will be cancelled: https://github.com/sneako/finch/blob/main/test/finch/http1/integration_test.exs#L83

[2022-04-10 11:35] sneako commented on #112
Thanks @ericmj, that is a great point! If you throw in your stream function HTTP/1 will close the connection [here](https://github.com/sneako/finch/blob/main/lib/finch/http1/conn.ex#L140) and HTTP/2 will cancel the request [here](https://github.com/sneako/finch/blob/main/lib/finch/http2/pool.ex#L75). I think that should be sufficient but if anyone can describe a situation where it would not be ple

[2022-04-10 15:28] wojtekmach opened #178 "Use built-in cacerts"
The OTP team is working on exciting new capability and that's using the system provided certs store: https://github.com/erlang/otp/pull/5853. When that ships, I believe Finch would no longer have to depend on the `castore` package and instead make it opt-in.

Perhaps it would make sense to have something like this in Finch:

[code]

We'd still need logic like: if either `cacerts` or `cacertfile` i

[2022-04-10 18:00] ericmj commented on #178
Is Finch setting its own SSL options? If not, it would be preferable to do this in Mint.

[2022-04-10 18:53] wojtekmach commented on #178
Finch is not setting SSL options. I thought that by dropping the castore dependency in Finch we'd have to gracefully handle it in Finch. But I just noticed that if Mint doesn't have CAStore and is not given cacerts/cacertfile options, it provides a good error message what to do. So yeah, I think Mint it is. Thanks!

[2022-04-10 19:02] ericmj commented on #178
Finch would need to remove or make the castore dependency optional though so some minor changes are needed here as well.

[2022-04-12 08:29] sneako commented on #175
Hey @dvic and sorry for the delay! I don't really see any value in adding the extra event, ie `stream/5` emits `:stream` and `request/3` emits both `:request` and `:stream` if that is what you meant.

The approach in your latest commit seems like it should be fine if we change the name to `:request`. Unfortunately, if we go with `:request` for the name, there isn't really a way to gracefully depre

[2022-04-12 08:40] dvic commented on #175
I'm fine going with this route, it's indeed pre-1.0 and I think this is a sensible breaking change. Shall I update the PR and switch the current `request` and `response` events to `send` and `recv`, like you suggested? (I liked that idea)

[2022-04-12 08:51] sneako commented on #175
Sounds good to me, let's do it! Thanks :)

[2022-04-12 10:08] dvic commented on #175
I've just pushed to #176, let me know if there's anything else 👍

[2022-04-14 08:35] dvic opened #179 "introduce a 'private' Finch.Request field for libraries built on top of Finch"
It would be nice if the OpenTelemetry library for Finch I'm building can support custom span names, e.g., `GET /users/:id` instead of the standard HTTP GET name (see https://github.com/ricardoccpaiva/opentelemetry_tesla/pull/17#issuecomment-1090781681). However, this would require the user to pass in the custom span name per request so that this info can be extracted when I'm consuming the telemet

[2022-04-14 08:48] #175 closed

[2022-04-14 08:50] sneako commented on #179
Adding a `:private` map field to the Request struct sounds good to me! PR is welcome, thank you

[2022-04-14 12:44] sneako commented on #81
Great point @dvic! I agree, our upcoming `:private` field on the Request struct should be able to be used for this purpose as well.

[2022-04-14 15:20] wojtekmach commented on #179
out of curiosity, is this the whole snippet? Nothing shown here seems to read from `request.private`. Is there another function that the request would be passed to?

[2022-04-14 15:40] sneako commented on #179
My understanding was that `OpenTelemetrtyFinch` would provide `:telemetry` handlers and in these handlers the private field would be accessed.

Perhaps you are suggesting that we should also provide a `get_private/2` function?

[2022-04-14 16:06] wojtekmach commented on #179
Oh, of course, the request struct is sent in the events, that makes sense. Regarding `get_private`, I wasn't thinking about adding it but wouldnt oppose it. I think Plug.Conn has it too.

[2022-04-14 16:50] dvic commented on #179
Exactly, that's the idea :)

I just checked, it has only `merge_private/2`, no `get_private/2`.

[2022-04-15 16:18] chargreezy commented on #112
Thanks for the response! I saw the integration test but it's great to get a confirmation this is expected.

[2022-04-19 10:40] aymanosman opened #183 "pool telemetry: available workers"
Correct me if I'm wrong, but it seems there is no way of querying finch for a pool's current state, for example, number of available workers.

`:poolboy` exposes this information via [`:poolboy.status/1`](https://github.com/devinus/poolboy/blob/9212a8770edb149ee7ca0bca353855e215f7cba5/src/poolboy.erl#L145). I know the pooling implementation differs significantly between the two libraries, so do yo

[2022-04-22 01:23] oliveigah commented on #183
There are 2 pool implementations in finch one for http1 that is nimble pool and other implementation for http2 that is made by finch.

Regarding your question IMO it could be implemented in nimble_pool and exposed by finch for http1 pools. AFAIK that is no way to access this internal data from nimble_pool, but I need to check, if it exists there is only a matter of expose it on finch API.

For htt

[2022-04-22 12:09] aymanosman commented on #183
What I am saying definitely only applies to the HTTP1 pool (as that is the only one we are using).

Because Finch implements the NimblePool behaviour, it has access to all of the "nimble pool state".

Playing around with the nimble pool that powers finch, I can try and guess a way of calculating the number of "available workers".

[code]

My guess is that `state.lazy + :queue.len(state.resource)`

[2022-04-22 12:15] aymanosman commented on #183
I just realised I didn't answer your question.

We use this information to help us decide whether to scale up certain services.

[2022-04-22 19:03] oliveigah commented on #183
This workaround using `lookup_pool` and `get_state` might work but as you mentioned is very fragile since you are coupling on the internals of the nimble pool.

Personally I've never used `:sys.get_state` beyond debugging so I don't know if there is some other side effect of using it in production.

Probably the best solution would be add some function on nimble_pool and use that in combination wi

[2022-04-23 00:13] aymanosman commented on #183
Yea, the use of `:sys.get_state` was just to illustrate the point that the data looks to be easily available.

I do think that this is probably best dealt with in nimble_pool, as `state.lazy` and `state.resources` are private bits of state.

[2022-04-23 10:21] oliveigah commented on #183
Great! I can work on this next week after fix my computer! 😅

If you want to open an issue on nimble pool would be good, so we can get input from theirs maintainers about the feature.

After it's done on nimble_pool we might expose the info through some finch API.

Makes sense to you @aymanosman?

Would be good to also gather some input from @sneako! What's your thoughts on this Nico?

[2022-04-23 11:10] #81 closed

[2022-04-23 11:10] #179 closed

[2022-04-24 21:07] wojtekmach opened #186 "Improve error messages on invalid URLs"
In https://github.com/wojtekmach/req/issues/81, we noticed Finch exits on an invalid URL:

[code]

[code]

I did a quick survey of a couple of similar edge cases and here are the result:

[code]

[code]

(The `"https://"` one is especially odd!)

All these errors are slightly different, perhaps it would be worthwhile to make them a bit more uniform.

[2022-04-25 08:09] sneako commented on #186
Great catch! I agree we should clean these up and probably return `%Finch.Error{}`s instead.

[2022-04-26 07:08] sneako commented on #183
Thanks for starting this discussion!

I tend to rely more on system level metrics like load and latency for making decisions around scaling, but I do think that exposing these pool stats could help users configure their pool sizes and counts so I am interested in exploring this further.

I don't see any reason to expose this data for HTTP1, but not HTTP2 despite the fact that the available stats m

[2022-04-26 07:13] sneako opened #191 "Test telemetry events for HTTP/2 pools"
Currently our Telemetry tests only run against HTTP1 pools.

We could refactor the test suite in a way that we can also run them against HTTP2 pools.

Unfortunately, there is likely to be some mismatch between the two, but these test changes should help us uncover any mismatches so that we can bring them in line and keep them that way.

[2022-04-26 14:38] oliveigah commented on #183
I agree with you! Since we moved from the narrower case of available workers (which does not make much sense in HTTP2 AFAIK) to a broader case regarding not only available workers but the pool status as a whole in order to improve pool configuration tuning, I think it makes sense to implement it for both HTTP1 and HTTP2.

That could be another workaround that may work for you @aymanosman while the

[2022-05-01 15:16] alexcastano opened #192 "Finch.stream/5 crashes"
Hello!

The following code crashes:

[code]

The code expects that the stream function returns `{status, header, body}`. I saw that the `request/3` reuses the stream function and it uses this tuple. I guess this is the origin of the problem. I can help if you want, but I don't know how do you want to solve the problem.

Thank you for your time

[2022-05-02 08:41] sneako commented on #192
Thanks for opening this issue! We made some improvements to our Telemetry events recently, and unfortunately it appears that one of those changes included an implicit assumption about the shape of the accumulator that is used in the stream function, here: https://github.com/sneako/finch/blob/main/lib/finch/http1/conn.ex#L172

I think we probably have to change this back to:

[code]
It would be nic

[2022-05-02 10:45] dvic commented on #192
Oops, sorry about that!

We could emit separate telemetry events here to have the status and headers inside stream events: https://github.com/sneako/finch/blob/main/lib/finch/http1/conn.ex#L196-L200.

[2022-05-02 10:55] sneako commented on #192
No worries @dvic! That feels a bit like overkill to me since we already have the full response/accumulator available in the `[:finch, :request, :stop]` event anyway. If a user really needs to be able to access these fields before the request finishes or in the case of an error/exception, they could write a custom stream function in order to do so. What do you think?

[2022-05-02 13:29] sato11 commented on #186
I did some investigations and found that the reason of this `:exit, :badarg` seems to have its root in OTP's [`inet_parse:visible_string/1`](https://github.com/erlang/otp/blob/OTP-24.3.3/lib/kernel/src/inet_parse.erl#L385-L396), which obliges the given string consists of only characters in the range `0x21..0x7e`, otherwise `gen_tcp:connect/4` returns `:badarg` which we see.

[code]

I'm interested

[2022-05-02 13:48] dvic commented on #192
True! But it still feels a bit weird not to have "natively" the status and header fields inside the telemetry metadata. In this way, when a user dus a custom stream function, how would my OpenTelemetry library set the `http.status_code` field of the span? It would require the accumulator function to adhere to return the status right?

Maybe we can refactor `receive_response` to return the status a

[2022-05-03 17:10] #192 closed

[2022-05-05 10:23] ettomatic commented on #183
Our application essentially proxies many origins and so we use multiple pools, it currently uses MachineGun/Poolboy.
We are using the pools data to track the health of our origins and in general to better understand the pressure on our proxy which usually experiences high traffic, including unexpected spikes against some of the origins.
Metrics indicating that pools are close to exhaustion flip ou

[2022-05-09 12:43] #112 closed

[2022-05-24 05:09] nallwhy commented on #120
I no longer have this problem.

[2022-05-24 05:09] #120 closed

[2022-06-08 21:51] aselder opened #199 "Add Finch instance name to connect telemetry"
I'd like to be able to instrument connects from my finch instances. The various connect telemetry events don't expose the pool ID or Finch instance. I'd love to see this added to the meta data so that I can tag the stats I'm collecting by Finch instance and pool.

[2022-08-31 07:02] Hajto commented on #157
@bsedat Merged a pr for this issue, shouldn't this issue be closed?

[2022-08-31 07:12] sneako commented on #157
Yes, thanks!

[2022-08-31 07:13] #157 closed

[2022-09-20 08:39] jadlr commented on #62
I'm having exactly this problem with the newest versions of finch (0.13.0) and mint (1.4.2). We're using finch in default configuration to call all sorts of APIs. A lot of calls fail with `%Mint.TransportError{reason: :closed}`

[2022-11-02 19:09] #125 closed